<div class="item" data-selection-id="<%= selection.id %>">
  <%= link_to selection_path(selection), method: :delete, class: "cancel abs-right-top cross", remote: true do %>
    +
  <% end %>
  <div class="item-image">
    <%= link_to selection.item.url, target: "_blank" do %>
      <%= image_tag selection.item.photo, class: "item-image" %>
    <% end %>
  </div>
  <div class="item-description">
    <div class="first-line">
      <%= link_to selection.item.url, class: "title-item", target: "_blank" do %>
        <h2><%= selection.item.title %></h2>
      <% end %>
    </div>
    <h4><%= selection.item.price %>€</h4>
    <div class="impact-description">

      <section>
        <div class="impact-detail-description">
          <p><strong><i class="fa fa-globe" aria-hidden="true"></i> CLIMATE</strong></p>
          <div class="scores">
            <% if selection.item.calcul_climate_impact > 15 %>
              <div class="arrow">
                <div class="arrow arrow-status <%= selection.item.color_climate %> " style="width: <%= (selection.item.calcul_climate_impact).to_i %>%">
                  <p><%= (selection.item.calcul_climate).round(2) %> kg éq. CO2</p>
                  <span class="arrow-pointer"></span>
                </div>
              </div>
            <% else %>
              <div class="arrow">
                <div class="arrow arrow-status <%= selection.item.color_climate %> " style="width: <%= (selection.item.calcul_climate_impact).to_i %>%">
                 <span class="arrow-pointer"></span>
                </div>
                <p style="margin-left: 5px;"><%= selection.item.calcul_climate %> kg éq. CO2</p>
              </div>
            <% end %>

          </div>
        </div>

        <div class="impact-detail-description">
          <p><strong><i class="fa fa-tint" aria-hidden="true"></i> WATER </strong></p>
          <div class="scores">
            <% if selection.item.calcul_water_impact > 15 %>
              <div class="arrow">
                <div class="arrow arrow-status <%= selection.item.color_water %> " style="width: <%= (selection.item.calcul_water_impact).to_i %>%">
                  <p><%= (selection.item.calcul_water).round(2) %> g éq. P</p>
                  <span class="arrow-pointer"></span>
                </div>
              </div>
            <% else %>
              <div class="arrow">
                <div class="arrow arrow-status <%= selection.item.color_water %> " style="width: <%= (selection.item.calcul_water_impact).to_i %>%">
                  <span class="arrow-pointer"></span>
                </div>
                <p style="margin-left: 5px;"><%= (selection.item.calcul_water_impact).round(2) %> g éq. P</p>
              </div>
            <% end %>

          </div>
        </div>

        <div class="impact-detail-description">
          <p><strong><i class="fa fa-cloud" aria-hidden="true"></i> AIR </strong></p>
          <div class="scores">
            <% if selection.item.calcul_climate_impact > 15 %>
              <div class="arrow">
                <div class="arrow arrow-status <%= selection.item.color_air %> " style="width: <%= (selection.item.calcul_air_impact).to_i %>%">
                  <p><%= (selection.item.calcul_air).round(2) %> mol éq. H+</p>
                  <span class="arrow-pointer"></span>
                </div>
              </div>
            <% else %>
              <div class="arrow">
                <div class="arrow arrow-status <%= selection.item.color_air %> " style="width: <%= (selection.item.calcul_air_impact).to_i %>%">
                  <span class="arrow-pointer"></span>
                </div>
                <p style="margin-left: 5px;"><%= selection.item.calcul_air_impact %> mol éq. H+</p>
              </div>
            <% end %>

          </div>
        </div>
      </section>
      <div class="total-score <%= selection.item.color_total %>">
        <h1> <%= (selection.item.total_impact).to_i %> </h1>
        <p>/ 100</p>
      </div>
    </div>
  </div>
</div>
