<div class="selections">
  <div class="left-nav-container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="form-post">
          <h2>Find in your selection :</h2>
          <%= form_tag("/selections", method: 'get', class: "form-stuff", remote: true) do %>
            <div class="form-group">
              <div class="category-choices">
                <% @categories.each do |category| %>
                  <input type="checkbox" class="hidden" name="item[<%= category %>]" id="<%= category %>">
                  <label for="<%= category %>" class="category-choice"><%= category.capitalize %> <i class="fa fa-check"></i></label>
                <% end %>
              </div>
            </div>
            <input type="submit" class="hidden" value="Reload"></input>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="container-selections">
    <div id="all_items">
      <% @selections.reverse_each do |selection| %>
        <%= render 'selections/item_card', selection: selection %>
      <% end %>
    </div>
  </div>
</div>
