<div class="container">
  <h1>Your selection</h1>
  <% @selections.each do |selection| %>
    <div class="item">
      <%= image_tag selection.item.photo, class: "item-image" %>
      <div class="item-description">
        <h2><%= selection.item.category %> by <%= selection.item.brand.name %></h2>
        <div class="impact-description">
          <div class="impact-detail">
            <div class="impact-detail-description">
              <p><strong><i class="fa fa-globe" aria-hidden="true"></i> CLIMATE</strong></p>
              <p>Greenhouse effect (g equivalent CO2)</p>
            </div>
            <div class="impact-detail-value">
              <p><%= selection.item.calcul_climate_impact %> g</p>
            </div>
            <i class="fa fa-circle status <%= selection.item.color_climate %>" aria-hidden="true"></i>
          </div>
          <div class="impact-detail">
            <div class="impact-detail-description">
              <p><strong><i class="fa fa-tint" aria-hidden="true"></i> WATER</strong></p>
              <p>Eutrophication (g equivalent PO4)</p>
            </div>
            <div class="impact-detail-value">
              <p><%= selection.item.calcul_climate_impact %> g</p>
            </div>
            <i class="fa fa-circle status <%= selection.item.color_water %>" aria-hidden="true"></i>
          </div>
          <div class="impact-detail">
            <div class="impact-detail-description">
              <p><strong><i class="fa fa-cloud" aria-hidden="true"></i> AIR</strong></p>
              <p>Acidification (equivalent SO2)</p>
            </div>
            <div class="impact-detail-value">
              <p><%= selection.item.calcul_climate_impact %> g</p>
            </div>
            <i class="fa fa-circle status <%= selection.item.color_air %>" aria-hidden="true"></i>
          </div>
        </div>
        <p class="evaluation-rules"><em>Evaluated for the materials of 100g of product</em></p>
      </div>
    </div>
  <% end %>
</div>
