<div class="container">
  <h1>Your selection</h1>
  <% @selections.each do |selection| %>
    <div class="item">
      <div class="item-image">
        <%= image_tag selection.item.photo, class: "item-image" %>
      </div>

      <div class="item-description">
        <div class="title-item">
          <h2><%= selection.item.title %></h2>
          <h3> - <%= selection.item.category %> by <%= selection.item.brand.name %></h3>
        </div>
        <div class="impact-description">
          <section>
            <div class="impact-detail">
              <div class="impact-detail-description">
                <p><strong><i class="fa fa-globe" aria-hidden="true"></i> CLIMATE</strong></p>
                <div class="scores">
                  <div class="arrow">
                    <div class="arrow-status complete">
                      <p><%= selection.item.calcul_climate_impact %> kg</p>
                     <span class="arrow-pointer"></span>
                    </div>
                  </div>
                  <i class="fa fa-circle status <%= selection.item.color_climate %>" aria-hidden="true"></i>
                  </div>
              </div>
            </div>
            <div class="impact-detail">
              <div class="impact-detail-description">
                <p><strong><i class="fa fa-tint" aria-hidden="true"></i> WATER</strong></p>
                <div class="scores">
                  <div class="arrow">
                    <div class="arrow-status complete">
                      <p><%= selection.item.calcul_climate_impact %> g</p>
                     <span class="arrow-pointer"></span>
                    </div>
                  </div>
                  <i class="fa fa-circle status <%= selection.item.color_climate %>" aria-hidden="true"></i>
                  </div>
              </div>
            </div>
            <div class="impact-detail">
              <div class="impact-detail-description">
                <p><strong><i class="fa fa-cloud" aria-hidden="true"></i> AIR</strong></p>
                <div class="scores">
                  <div class="arrow">
                    <div class="arrow-status complete">
                      <p><%= selection.item.calcul_climate_impact %> g</p>
                     <span class="arrow-pointer"></span>
                    </div>
                  </div>
                  <i class="fa fa-circle status <%= selection.item.color_climate %>" aria-hidden="true"></i>
                  </div>
              </div>
            </div>
          </section>
        </div>
        <%= link_to "Back on market place", selection.item.url, class: "market-place-btn" %>
      </div>
    </div>
  <% end %>
  <p class="evaluation-rules"><em>Evaluated for the materials of 100g of product</em></p>
</div>
