<div class="item-evaluation">
  <div class="general-mark">
    <!-- put the proper value -->
    <h1 class="big-mark">76</h1>
    <p class="rating">/ 100</p>
  </div>
  <div class="detail-info">
    <!-- put the proper value -->
    <h2><strong><%= item.category %></strong> by <strong><%= item.brand.name %></strong></h2>
    <div class="impact-info-block">
      <div class="impact-info">
        <h3>CLIMATE</h3>
        <!-- put the proper value -->
        <p>5 / 100</p>
      </div>
      <div class="impact-info">
        <h3>WATER</h3>
        <!-- put the proper value -->
        <p>5 / 100</p>
      </div>
      <div class="impact-info">
        <h3>AIR</h3>
        <!-- put the proper value -->
        <p>5 / 100</p>
      </div>
    </div>
    <a href="<%= selections_url %>" id="add-item-to-list"><strong>+</strong> Add to my list</a>
  </div>
</div>

<% unless @item.alternatives.first.nil? %>
  <h2 class="alternative-title">OTHER OPTIONS</h2>

  <div class="my-slider">
    <% @item.alternatives.each do |alternative| %>
      <div>
        <div class="item-evaluation alternative-evaluation">
          <img src="https://image.flaticon.com/icons/svg/126/126492.svg" alt="" class="icons-alternatives" id="previous-arrow">
          <div class="general-mark alternative-mark">
            <!-- put the proper value -->
            <h1 class="big-mark alternative-big-mark">10</h1>
            <p class="rating">/ 100</p>
          </div>
          <div class="detail-info">
            <!-- put the proper value -->
            <h1><%= @item.alternatives.first.title %></h1>
            <h2><strong><%= @item.alternatives.first.category %></strong> by <strong><%= @item.alternatives.first.brand.name %></strong></h2>
          </div>
          <!-- put the alternative photo -->
          <%= image_tag @item.alternatives.first.photo, class: "alternative-photo" %>
          <img src="https://image.flaticon.com/icons/svg/126/126490.svg" alt="" class="icons-alternatives" id="next-arrow">
        </div>
      </div>
    <% end %>
  </div>
<% end %>
<!-- put the alternative photo -->
<div class="extension-btn">
  <a href="<%= selections_url %>" id="go-to-list">See my Linen List !</a>
</div>
