<% if @item.calcul_air_impact.nil? || @item.calcul_climate_impact.nil? || @item.calcul_water_impact.nil? %>
  <div>
    <p id="lack-of-info-message">Lack of data for this item</p>
  </div>
<% else %>
  <h1 class="item-ext-title">ABOUT THIS PRODUCT</h1>
  <div class="item-evaluation">
    <div class="general-mark <%= item.color_total %>">
      <!-- <h1 class="big-mark"><%= (item.total_impact).to_i %> </h1>
      <p class="rating">/ 100</p> -->
    </div>
    <div class="detail-info">
      <h2><strong><%= item.category %></strong> by <strong><%= item.brand.name %></strong></h2>
      <div class="impact-info-block">
        <div class="impact-info">
          <p><strong>CLIMATE</strong></p>
          <p><%= item.color_climate %></p>
          <!-- <p><%= (item.calcul_climate_impact).to_i %> / 100</p> -->
        </div>
        <div class="impact-info">
          <p><strong>WATER</strong></p>
          <p><%= item.color_water %></p>
          <!-- <p><%= (item.calcul_water_impact).to_i %> / 100</p> -->
        </div>
        <div class="impact-info">
          <p><strong>AIR</strong></p>
          <p><%= item.color_air %></p>
          <!-- <p><%= (item.calcul_air_impact).to_i %> / 100</p> -->
        </div>
      </div>
    </div>
  </div>

  <% if @item.selections.find_by(user: current_user).nil? %>
    <% if @item.alternatives.nil? || @item.alternatives.empty? %>
      <div class="btn-center">
        <%= link_to "#", id: "add-item-to-list", class: "extension-btn white-btn", data: { value: @item.id } do %>
          Add to my list
        <% end %>
      </div>
    <% else %>
      <div class="btn-center">
        <%= link_to "#", id: "add-item-to-list", class: "simple-link go-to-list border-color-black", data: { value: @item.id } do %>
          Add to my list
        <% end %>
      </div>
    <% end %>
  <% else %>
    <p class="added"><em>In your selection !</em></p>
  <% end %>
<% end %>

<% unless @item.alternatives.first.nil? %>
  <h1 class="item-ext-title alternative-title">BETTER OPTIONS</h1>

  <div class="my-slider">
    <% @item.alternatives.each do |alternative| %>
      <div>
        <div class="item-evaluation alternative-evaluation">
          <div class="general-mark alternative-mark <%= alternative.color_total %>">
            <!-- <h1 class="big-mark alternative-big-mark"><%=(alternative.total_impact).to_i %> </h1>
            <p class="rating">/ 100</p> -->
          </div>
          <div class="detail-info alternative-info">
            <h2><strong><%= alternative.category %></strong> by <strong><%= alternative.brand.name %></strong></h2>
            <h3><%= alternative.title %></h3>
          </div>
          <%= image_tag alternative.photo, class: "alternative-photo" %>
          <a class="alternative-link" target="_blank" href="<%= alternative.url %>" ></a>
        </div>
        <div class="btn-center">
          <a class="extension-btn" id="btn-alternative-link" href="<%= alternative.url %>" >Check it out!</a>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
