<% if @item.calcul_air_impact.nil? || @item.calcul_climate_impact.nil? || @item.calcul_water_impact.nil? %>
  <div>
    <p>Lack of data for this item</p>
  </div>
<% else %>
  <h2 class="alternative-title">ABOUT THIS PRODUCT</h2>
  <div class="item-evaluation">
    <div class="general-mark <%= item.color_total %>">
      <h1 class="big-mark"><%= (item.total_impact).to_i %> </h1>
      <p class="rating">/ 100</p>
    </div>
    <div class="detail-info">
      <h2><strong><%= item.category %></strong> by <strong><%= item.brand.name %></strong></h2>
      <div class="impact-info-block">
        <div class="impact-info">
          <h3>CLIMATE</h3>
          <p><%= (item.calcul_climate_impact).to_i %> / 100</p>
        </div>
        <div class="impact-info">
          <h3>WATER</h3>
          <p><%= (item.calcul_water_impact).to_i %> / 100</p>
        </div>
        <div class="impact-info">
          <h3>AIR</h3>
          <p><%= (item.calcul_air_impact).to_i %> / 100</p>
        </div>
      </div>
      <% if @item.selections.find_by(user: current_user).nil? %>
        <%= link_to "#", id: "add-item-to-list", data: { value: @item.id } do %>
          <strong>+</strong> Add to my list
        <% end %>
      <% else %>
        <p class="added"><em>This product is already in your selection !</em></p>
      <% end %>
    </div>
  </div>
<% end %>

<% unless @item.alternatives.first.nil? %>
  <h2 class="alternative-title">OTHER OPTIONS</h2>

  <div class="my-slider">
    <% @item.alternatives.each do |alternative| %>
      <div>
        <div class="item-evaluation alternative-evaluation">
          <div class="general-mark alternative-mark <%= alternative.color_total %>">
            <h1 class="big-mark alternative-big-mark"><%=(alternative.total_impact).to_i %> </h1>
            <p class="rating">/ 100</p>
          </div>
          <div class="detail-info">
            <h2><strong><%= alternative.category %></strong> by <strong><%= alternative.brand.name %></strong></h2>
            <p><%= alternative.title %></p>
          </div>
          <%= image_tag alternative.photo, class: "alternative-photo" %>
          <a class="alternative-link" href="<%= alternative.url %>" ></a>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

